n8n-workflows/content-agent.json
{
  "name": "Content Creator Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "content-agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"คุณคือ Content Creator มืออาชีพของเอเจนซี่การตลาด เขียน caption Facebook/Instagram ภาษาไทยที่น่าสนใจ มี emoji เหมาะสม มี CTA ชัดเจน ตอบกลับแค่ caption 3 แบบ แบ่งด้วย ---\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"เขียน caption สำหรับ: {{ $json.brief }}\"\n    }\n  ],\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uielpqxvmtsedajnibfe.supabase.co/rest/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_Vp6Qp6CwmoP9eXAo7-qZTQ_or0CXSG7"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_Vp6Qp6CwmoP9eXAo7-qZTQ_or0CXSG7"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_name\": \"คอนเทนต์ 1\",\n  \"action\": \"เขียน caption เสร็จแล้ว ✅\",\n  \"detail\": \"{{ $json.brief }}\",\n  \"color_key\": \"cyan\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Supabase Insert Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"captions\": \"{{ $node['Groq API'].json.choices[0].message.content }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Groq API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq API": {
      "main": [
        [
          {
            "node": "Supabase Insert Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Task": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "content-creator-agent-v1",
  "tags": ["agency-os", "content", "groq"]
}
